.container {
    margin: 5px 0;
    background-color: #FFFFFF;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 40px 60px;
}

.formContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
